.wrapper {
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center;
    align-content: flex-start;
    overflow: auto;
    justify-content: space-around;
}